.header-spacer {
    height: 100px;
  }

.titulo-juego {
    color: #ff9c00;
    margin-bottom: 2rem;
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    border-radius: .2rem;
    background: rgba(150, 191, 237, 0.293);
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: calc(1.1rem);
    text-align: center;       
    letter-spacing: .15em;    
    animation: aparecer 3.5s;
}

.galeria-juego {
    width: 100%;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #134d8f45;
    border-radius: 2rem;
    margin-bottom: 6rem;
}

.imagen-boton:hover {
    cursor: pointer;
}

.fondo-iframe{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    background-color: #134d8f74;
    
    border: 2px solid var(--header-color);
    border-radius: 2rem;

}

.juego {
    
    width: 90%;
    min-height: 650px;
}

.boton{
    display: flex;
    width: 100%;
    justify-content: right;
    padding: 1rem;
    
    
}

.imagen-juego{
    width: 90%;
    

}

.imagen-modal {
    width: 70%;
}

@media (max-width:680px){
    .imagen-juego {
        width: 60%;
    }
    .imagen-modal{
        width: 95%;
    }
}