/* Estilos de la card de la Home */

.card {
  position: relative;
  border: none;
  margin-bottom: 2.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1200px;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.2, 1.275);
  border-radius: 8%;

  --bs-card-bg: none;



  opacity: 0;
  /* Inicialmente transparente */
  animation: aparecer 4s ease forwards;

}



.card:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #b6e1f9;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.0);
}

.card:hover .card__content {
  top: 0;
  transform: rotateX(0deg);
  border-radius: 8%;
  background-color: #134c8f;
  color: white;
  z-index: 100;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: white;
  font-weight: 700;
}


.card__description {
  
  margin: 10px 0 0;
  font-size: 12px;
  color: white;
  line-height: 1.4;
}

/* Estilos del button de la Card */

.game-button {
  position: fixed;
  bottom: 0.6rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: #86d295;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.game-button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #b6e1f9;
  position: absolute;
  transition: all 0.6s ease-in-out;
  right: 0;
}

.game-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.game-button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #134c8f;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.game-button:hover span {

  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@media(max-width: 680px) {
  .card:hover {
    gap: 4rem;
    margin: 2rem 0;
    transform: scale(1.2);
    padding: 5px 0 0 0;


  }

  .card__title {
    font-size: 1rem;
    margin: 0;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0;
  }

  .card__description {
    font-size: 0.6rem;
  }

  .game-button {
    bottom: 1rem;
    right: 1.2rem;
    width: 5.5rem;
    height: 2.6rem;
    border-radius: 2rem;
  }

  .game-button span {

    padding: 2px 3px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }
}





/*  HEADER / NAV */

.gradient-header {
  padding: 1rem 1rem;
  background: rgb(2, 14, 27);
  background: linear-gradient(90deg, rgba(2, 14, 27, 1) 0%, rgba(19, 76, 143, 1) 50%, rgba(137, 188, 247, 1) 100%);
  background-size: 200% 100%;
  /* Doble tamaño para que el gradiente se extienda */
  animation: headerMov 3.5s linear infinite;
  /* Aplica la animación */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

@keyframes headerMov {
  0% {
    background-position: 0 0;
    /* Empieza con el gradiente en la posición inicial */
  }

  50% {
    background-position: 100% 0;
    /* Llega a la posición final en la mitad del tiempo */
  }

  100% {
    background-position: 0 0;
    /* Vuelve a la posición inicial al final de la animación */
  }
}

.logo-universae {
  opacity: 0;
  /* Inicialmente transparente */
  animation: aparecer 7s ease forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    /* Comienza completamente transparente */
  }

  100% {
    opacity: 1;
    /* Termina completamente opaco */
  }
}

.gradient-footer {
  background: rgb(150, 191, 237);
  background: linear-gradient(90deg, rgb(91, 147, 212) 0%, rgba(19, 76, 143, 1) 30%, rgba(2, 14, 27, 1) 100%);
  background-size: 200% 100%;
  /* Doble tamaño para que el gradiente se extienda */
  animation: headerMov 3.5s linear infinite;
  /* Aplica la animación */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}