 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 *{
    font-family: "Raleway", sans-serif;
 }

.contenedor-principal{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
}


.carousel-container {
   
    margin: 110px -40px 10px 5%;
    width: 48%;
    height: 300px;
    position: relative;
    overflow:hidden;
}

.carousel-slide {
    display: flex;
    width: 110%;
    height: 60%;
    transition: transform 0.7s ease-in-out;
}

.carousel-slide img {
    margin-right: 5px;
    width: 50%;
    height: 100%;
    transform: translateX(5%);
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
}



.carousel-slide img.active {
    opacity: 1;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-180%);
    font-size: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
}

.prev-btn {
    margin-top: 20px;
    left: 5px;
}

.next-btn {
    margin-top: 20px;
    right: 5px;
}

/*container juego
.contenedor-container {
    display: block;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 5%;
    align-content: center;
    justify-content: center;
    width: 850px;
    height: 700px;
    border-radius: 59px;
    background: linear-gradient(145deg, #145199, #114481);
    overflow: hidden;
}
*/
.juego {
    margin-top: 85px;
    margin-left: 50px;
    display: flex;
    align-content: center;
    justify-content:center;

    width: 60rem;
    height: 44rem;

   
   
}

.contenedor-texto{
    color: #f7f7f7;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-top: 350px;
    max-width: 450px;
    margin-right: 850px;
    font-weight: 700;
    font-size: 20px;
   
}

/* libro*/

.book {
    position: absolute;
    border-radius: 10px;
    width: 450px;
    height: 350px;
    margin-top: 20rem;
    margin-right: 60rem;
    background-color: #134c8f;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #f7f7f7;
   
    
}

.cover {
    
    top: 0;
    position: absolute;
    background-color: #134c8f;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
   
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
    
}

.book-text{
    width: 350px;
    height: 390px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 50px;
}

p {
    font-size: 14px;
    font-weight: bolder;
}

.cover img{
    width: 60px;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {

    .contenedor-principal{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .carousel-container {
        position: relative;
        width: 90%;
        height: 200px;
        margin: 130px auto 10px auto;
       
    }

    .carousel-slide img {
        width: 100%;
        transform: translateX(0);
    }

        .prev-btn {
            margin-top: 40px;
        }
    
        .next-btn {
            margin-top: 40px;
        }

  

   .book {
        position: relative;
        width: 80%;
        height: auto;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .book-text {
        width: 80%;
        height: auto;
        margin-top: 10px;
        margin-left: 12%;
    }
  

    .juego{
        position: relative;
        width: 90%;
        height: 250px;
        margin: 35px auto;
    }

    
}

/* Estilos para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    .contenedor-principal {
            display: block;
            position: relative;
            height: 100vh;
           
        }

    .carousel-container {
        position: relative;
        width: 80%;
        height: 300px;
        margin: 120px auto 10px auto;
    }

    .carousel-slide{
       margin-top: 30px;
        
    }
         .prev-btn {
             margin-top: 50px;
         }
    
         .next-btn {
             margin-top: 50px;
         }

    .carousel-slide img {
        width: 100%;

        transform: translateX(0);
    }

    .contenedor-texto {
        max-width: 80%;
       margin: 10px auto;
        font-size: 18px;
    }

    .juego {
        position: relative;
        width: 89%;
        height:410px;
        margin: 35px auto;
       
    }

    .book {
        position: relative;
        width: 70%;
        height: 350px;
        margin: 10px auto 30px auto;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        
    }

    .book-text {
        width: 80%;
        height: auto;
        margin: 10px auto;
    }
}
