/* Variables */
:root {
    --header-color: #134c8f;
    --text-color: white;
    --content-color: #b6e1f9;
    --logo-height: 30px;
    --social-links-margin: 10px;
    --social-links-color: #45b8ac;
}


body {
    background-image: url(../public/Games-Images/fondo_universae.png);
    background-repeat: no-repeat;
    background-size: cover; /* Cambiado de 'contain' a 'cover' */
    background-position: center center;
    z-index: -5;
    height: 100vh;
}

 





.body-content {
    padding: 3rem;
    margin-bottom: 3rem;
    margin-top: 15rem;
    width: 60%;
    
    
}
@media(max-width: 768px){
    .body-content {
        width: 100%;
    }
}
@media (max-width: 580px) {
    .body-content {
        padding: 2rem;
        width: 90%;
        margin-top: 8rem;
    }
}
/* Estilos del Pie de Página */

.social-links {

    margin: 0 var(--social-links-margin);
    color: var(--text-color);
}

.social-links:hover {
    color: var(--social-links-color);
    font-size: 1.2rem;
}
footer {
    
        
    z-index: 1000;
}


  

  
  
  